#contact{
    background: #fff;
    padding: 5rem 10rem;
    color: #353535;
    min-height: 90vh;

    .title{
        margin-bottom: 4rem;
        color:black;
    }
    .social{
        display: flex;
        align-items: center;
        h2{
            margin: 2rem;
        }
    }
    .circle{
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        background: #353535;
    }
}
