#services{
    h2{
        padding-bottom: 5rem;   
    }
    p{
        width: 70%;
        padding: 2rem 0rem 4rem 0rem;
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        .card{
            flex-basis: 20rem;
            .icon{
                display: flex;
                align-items: center;
                h3{
                    margin-left: 1rem;
                    background: white;
                    color:black;
                    padding: 1rem;
                }
            }
        }
    }
}